$month: (28, 29, 30, 31);
$week: (mon:0, tue: 1, wed: 2, thu: 3, fri: 4, sat: 5, sun:6);

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Arial, sans-serif;
  font-size: 30px;
}

.calendar {
  display: grid;
  grid-template-columns: repeat(7, 100px);
  grid-gap: 1px;

  div {
    display: none;
    height: 100px;
    background-color: #eee;
    border: 1px solid rgb(7, 7, 7);
    box-sizing: border-box;
    text-align: center;
    line-height: 100px;
    transition: background-color 0.5s, transform 0.5s ease-in-out;

    &:hover {
      cursor: pointer;
      background-color: rgb(247, 152, 210);
      transform: translateY(-20px);
    }
  }
}

@for $i from 1 through 31 {
  .calendar div:nth-child(#{$i})::after {
    content: "#{$i}";
  }
}

@each $day in $month {
  @for $i from 1 through $day {
    .calendar-#{$day} div:nth-child(#{$i}) {
      display: block;
    }
  }
}

@each $day, $n in $week {
  .calendar-#{$day} div:first-child {
    grid-column-start: #{$n+1};
  }
}
